<div class="row" *ngIf="user">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{user.name}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4 text-center">
            <img src="{{user.avatar_url}}" alt="" class="profile-image img-responsive img-thumbnail">
            <a href="{{user.html_url}}" class="btn btn-default btn-block" target="_blank">View profile</a>
          </div>
          <div class="col-sm-8">
            <div class="stats">
              <span class="label label-primary">{{user.public_repos}} repositories</span>
              <span class="label label-success">{{user.public_gists}} gists</span>
              <span class="label label-warning">{{user.followers}} followers</span>
              <span class="label label-info">{{user.following}} following</span>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><strong>Username: </strong> {{user.login}}</li>
              <li class="list-group-item"><strong>Location: </strong> {{user.location}}</li>
              <li class="list-group-item"><strong>Email: </strong> {{user.email}}</li>
              <li class="list-group-item"><strong>Blog: </strong> {{user.blog}}</li>
              <li class="list-group-item"><strong>Member Since: </strong> {{user.created_at}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
